.Footer {
    border-bottom: 4px solid #F4CC00;
    filter: drop-shadow(0px -2px 5px #afafaf);
    background-color: rgb(227, 227, 227);
}

.btn-foot {
    color: rgb(65, 65, 65);
    font-size: 16px;
    text-decoration: none;
}
.btn-foot:hover {
    color: #d4b207;
    text-decoration: underline;
}