.Mentors-Header {
    text-align: center;
    background-color: #f2f2f2;
    filter: drop-shadow(0px 2px 5px #afafaf);
    position: relative;
    z-index: -100;
}

.Mentors-img {
    width:80%;
    margin-left: 10%;
    margin-top: 40px;
}